$color-white: #fff;

$color-light--400: #888991;
$color-dark--500: #1B1D29;
$color-black: #000;


$color--sidebar-bg: $color-dark--500;
$color--sidebar-item: $color-light--400;

$width--sidebar: 80px;

$height--top-bar: 80px;
$height--footer: 50px;
